body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: #444;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  max-width: 1050px;
}

.main-navigation {
  padding: 0 40px;
}

.main-header__logo {
  margin: 26px 0 22px;
}

.logo {
  width: 220px;
}

.logo__image {
  float: left;
  margin-right: 14px;
}

.logo__title{
  font-size: 20px;
  line-height: 28px;
  color: #444;
}

.logo__description{
  font-size: 14px;
  line-height: 14px;
  color: #444;
}


.main-menu {
  min-width: 460px;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}

.main-header__main-menu {
  margin: 30px 0 28px;
}

.main-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  text-transform: uppercase;
}

.main-menu__item:last-of-type {
  margin-right: 14px;
}

.main-menu__link {
  display: block;
  padding: 12px 11px;
  font-size: 14px;
  text-decoration: none;
  color: #444;
}

.main-menu__link:hover {
  background-color: #1bbc9b;
  color: #fff;
  text-decoration: none;
}

.main-header__caption {
  height: 453px;
  padding: 65px 222px 0 222px;
  text-align: center;
  background: #323232 url(../img/jumbotron.jpg) no-repeat;
  color: #fff;
}

.main-header__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
}

.main-header__important {
  font-weight: 700;
}

.main-header__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.main-header__learn-more {
  margin-top: 45px;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 12px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #1bbc9b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:not(.button--active):hover {
  background-color: #0e6c5a;
}

.main-header__chevron {
  margin-top: 42px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-header__chevron-down {
  font-size: 44px;
  color: #fff;
  cursor: pointer;
}

.main-header__chevron-down:hover {
  color: #0e6c5a;
}

.portfolio {
  padding-top: 45px;
  color: #444;
  text-align: center;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: #444;
}

.portfolio__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
}

.portfolio__filters {
  margin-top: 35px;
}

.filters {
  font-size: 0;
}

.filters__button {
  margin-right: 15px;
}

.filters__button:last-child {
  margin-right: 0;
}

.button--active {
  background-color: #16a086;
  text-transform: none;
  cursor: default;
}

.portfolio__list {
  margin-top: 45px;
  margin-bottom: 28px;
  font-size: 0;
  text-align: left;
}

.portfolio__item {
  margin-left: 50px;
  margin-bottom: 27px;
}

.portfolio__item:not(:nth-child(1)):not(:nth-child(5n)) {
  margin-left: 65px;
}

.portfolio__item:nth-last-child(-n+4) {
  margin-bottom: 27px;
}

.portfolio__link {
  position: relative;
  display: block;
  background-image: url(../img/sprite.png);
}

.portfolio__link--hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(22, 160, 134, .75);
  z-index: 100;
}

.portfolio__link--camera .portfolio__link--hover {
  width: 170px;
}

.portfolio__link:hover .portfolio__link--hover {
  display: block;
}

.hover-wrapper__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  padding-top: 11px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(68, 68, 68, .61);
  color: #fff;
}

.portfolio__link--camera {
  background-position: -176px -180px;
  width: 170px;
  height: 180px;
}

.portfolio__link--music {
  background-position: -357px 0px;
  width: 177px;
  height: 180px;
}

.portfolio__link--settings {
  background-position: 0px 0px;
  width: 178px;
  height: 180px;
}

.portfolio__link--browser {
  background-position: -179px 0px;
  width: 178px;
  height: 180px;
}

.portfolio__link--phone {
  background-position: -346px -180px;
  width: 176px;
  height: 180px;
}

.portfolio__link--plays {
  background-position: 0px -180px;
  width: 176px;
  height: 180px;
}

.about-us {
  padding-top: 48px;
  padding-bottom: 75px;
  color: #fff;
  text-align: center;
  background-color: #16a086;
}

.about-us__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
}

.about-us__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.about-us__list {
  margin-top: 43px;
  padding: 0 105px;
}

.about-us__item {
  padding: 0 30px;
}

.worker {
  position: relative;
  min-height: 416px;
  color: #444;
  background-color: #fff;
}

.worker__avatar {
  width: 100%;
  height: auto;
}

.worker__name {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #444;
}

.worker__position {
  margin: 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  color: #444;
}

.worker__description {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
  text-align: left;
}

.worker:hover .worker__social {
  display: block;
}

.worker__social {
  display: none;
  position: absolute;
  left: 50%;
  top: 94px;
  margin-left: -90px;
  width: 180px;
  height: 48px;
  font-size: 0;
  background-color: rgba(22, 160, 134, .8);
  z-index: 100;
}

.worker__social-icon {
  display: inline-block;
  width: 45px;
  height: 48px;
  padding-top: 10px;
  color: #fff;
  font-size: 27px;
}

.worker__social-icon:hover {
  color: #444;
}

.contact-us {
  padding-top: 45px;
  padding-bottom: 61px;
  color: #444;
  text-align: center;
  background-color: #ecf0f1;
}

.contact-us__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: #444;
}

.contact-us__description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
}

.contact-us__feedback-form {
  margin-top: 35px;
  font-size: 0;
  text-align: right;
}

.feedback-form__user-name,
.feedback-form__user-email,
.feedback-form__user-message {
  width: 220px;
  height: 47px;
  margin-top: 11px;
  padding: 13px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  border: 2px solid #dde1e3;
  background-color: #fff;
  outline: none;
  resize: none;
}

.feedback-form__user-name:hover,
.feedback-form__user-email:hover,
.feedback-form__user-message:hover {
  border: 2px solid #bbbebf;
}

.feedback-form__user-name:focus,
.feedback-form__user-email:focus,
.feedback-form__user-message:focus {
  border: 2px solid #1bbc9b;
}

.feedback-form__user-name {
  margin-right: 20px;
}

.feedback-form__user-message {
  width: 460px;
  height: 153px;
  margin-top: 22px;
}

.feedback-form__submit {
  margin-top: 16px;
  padding: 9px 29px;
}

.contact-us__location {
  margin-top: 35px;
}

.location__address {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.main-footer {
  padding: 36px 0 34px;
  background-color: #2d3e50;
}

.main-footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  padding-left: 40px;
}

.button--up {
  position: fixed;
  font-size: 30px;
  bottom: 20px;
  right: 42px;
  width: 44px;
  height: 44px;
}

.mix {
  display: none;
}
