body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: #444;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  max-width: 1050px;
}

.main_navigation {
  padding: 0 40px;
}

.logo_container {
  float: left;
  width: 220px;
  margin: 26px 0 22px;
}

.logo_container img {
  float: left;
  margin-right: 14px;
}

.logo_container .logo_title{
  font-size: 20px;
  line-height: 28px;
  color: #444;
}

.main_menu {
  min-width: 460px;
  float: right;
  margin: 30px 0 28px;
  font-size: 0;
  text-align: right;
}

.main_menu_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  text-transform: uppercase;
}

.main_menu_item:last-of-type {
  margin-right: 14px;
}

.main_menu_link {
  display: block;
  padding: 12px 11px;
  font-size: 14px;
  text-decoration: none;
  color: #444;
}

.main_menu_link:hover {
  background-color: #1bbc9b;
  color: #fff;
  text-decoration: none;
}

.header_caption {
  height: 453px;
  padding: 65px 222px 0 222px;
  text-align: center;
  background: #323232 url(../img/jumbotron.jpg) no-repeat;
  color: #fff;
}

.header_caption_title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
}

.header_caption_title span {
  font-weight: 700;
}

.header_caption p {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 12px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #1bbc9b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0e6c5a;
}

.header_caption .button {
  margin-bottom: 42px;
}

.header_caption_chevron {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.chevron_down {
  font-size: 44px;
  color: #fff;
  cursor: pointer;
}

.chevron_down:hover {
  color: #0e6c5a;
}

.page_section {
  padding-top: 45px;
  color: #444;
  text-align: center;
}

.page_section h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: #444;
}

.page_section p {
  margin: 0;
  line-height: 20px;
  font-weight: 500;
  color: #444;
}

.portfolio p {
  margin-bottom: 35px;
  font-size: 16px;
}

.filters_container {
  font-size: 0;
}

.filters_container .button {
  margin-right: 15px;
}

.filters_container .button:last-child {
  margin-right: 0;
}

.portfolio_filter_active {
  background-color: #16a086;
  text-transform: none;
}

.portfolio_row {
  margin-top: 45px;
  margin-bottom: 35px;
  padding-left: 64px;
  padding-right: 34px;
}

.portfolio_row:first-of-type {

}

.portfolio_row:last-of-type {
  margin-top: 0;
  margin-bottom: 62px;
}

.portfolio_link {
  position: relative;
  display: block;
  background-image: url(../img/sprite.png);
}

.portfolio_link .hover_wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(22, 160, 134, .75);
  z-index: 100;
}

.portfolio_link_camera .hover_wrapper {
  width: 170px;
}

.portfolio_link:hover .hover_wrapper {
  display: block;
}

.hover_wrapper .search_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  padding-top: 11px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68, .61);
  color: #fff;
}

.portfolio_link_camera {
  background-position: -176px -180px;
  width: 170px;
  height: 180px;
}

.portfolio_link_music {
  background-position: -357px 0px;
  width: 177px;
  height: 180px;
}

.portfolio_link_settings {
  background-position: 0px 0px;
  width: 178px;
  height: 180px;
}

.portfolio_link_brouser {
  background-position: -179px 0px;
  width: 178px;
  height: 180px;
}

.portfolio_link_phone {
  background-position: -346px -180px;
  width: 176px;
  height: 180px;
}

.portfolio_link_plays {
  background-position: 0px -180px;
  width: 176px;
  height: 180px;
}

.about_us {
  padding-bottom: 75px;
  color: #fff;
  background-color: #16a086;
}

.about_us h2 {
  color: #fff;
}

.about_us > p {
  margin-bottom: 43px;
  font-size: 14px;
  color: #fff;
}

.about_us_row {
  padding: 0 105px;
}

.about_us_column {
  padding: 0 30px;
}

.about_us_worker {
  position: relative;
  min-height: 418px;
  color: #444;
  background-color: #fff;
}

.about_us_worker h3 {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #444;
}

.about_us_worker h4 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  color: #444;
}

.about_us_worker p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
  text-align: left;
}

.about_us_worker:hover .about_us_worker_social {
  display: block;
}

.about_us_worker_social {
  display: none;
  position: absolute;
  left: 50%;
  top: 94px;
  margin-left: -90px;
  width: 180px;
  height: 48px;
  font-size: 0;
  background-color: rgba(22, 160, 134, .8);
  z-index: 100;
}

.about_us_worker_social .social_icon {
  display: inline-block;
  width: 45px;
  height: 48px;
  padding-top: 10px;
  color: #fff;
  font-size: 27px;
}

.about_us_worker_social .social_icon:hover {
  color: #444;
}

.contact_us {
  padding-bottom: 61px;
  background-color: #ecf0f1;
}

.contact_us > p {
  margin-bottom: 36px;
  font-size: 14px;
}

.feedback_form_wrapper {
  font-size: 0;
  text-align: right;
}

.contact_us_feedback_form input[type="text"],
.contact_us_feedback_form input[type="email"],
.contact_us_feedback_form textarea {
  width: 220px;
  height: 47px;
  margin-top: 11px;
  padding: 13px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  border: 2px solid #dde1e3;
  background-color: #fff;
  resize: none;
}

.contact_us_feedback_form input[type="text"]:hover,
.contact_us_feedback_form input[type="email"]:hover,
.contact_us_feedback_form textarea:hover {
  border: 2px solid #bbbebf;
}

.contact_us_feedback_form input[type="text"]:focus,
.contact_us_feedback_form input[type="email"]:focus,
.contact_us_feedback_form textarea:focus {
  border: 2px solid #1bbc9b;
  outline: none;
}

.contact_us_feedback_form input[type="text"] {
  margin-right: 20px;
}

.contact_us_feedback_form textarea {
  width: 460px;
  height: 153px;
  margin-top: 22px;
  margin-bottom: 16px;
}

.contact_us .map_wrapper p {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.main_footer {
  padding: 36px 0 34px;
  background-color: #2d3e50;
}

.main_footer_copyright {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  padding-left: 40px;
}

.button_up {
  position: fixed;
  font-size: 30px;
  bottom: 20px;
  right: 42px;
  width: 44px;
  height: 44px;
}
